body{
    font-size: 16px;
    margin: 0pc auto;
    max-width: 1024px;
    max-height: 1024px;
    background-color: #efefef;
}

header{
 text-align: center;
 background-color:#245d92 ;
}

header nav{
text-align: right;
background-color: #efefef;
width: 100%;

}

#noti{
    width: 11%;
}
#men{
    width: 8%;
}

#aju{
    width: 7%;
}

#sec01{
margin-left: 20px;
}

#sec01art01{
width: 226px;
background-color: #1e4973;
}

#sec01art01 ul{
    list-style: none;
    color: white;
    margin-top: -2px;
    padding-bottom: 10px;
    margin-left: -27px;
}

#sec01art01 ul li:before{
    color: white;
     padding-inline-end: 1px;
    content: "</> ";
}

#sec01art02{
background-color: #245d92;
width: 226px;
margin-top: 30px;
}

#sec01art03{
    width: 226px;
    margin-top: -13px;
      
}
#sec01art03 ul{
    list-style: none;
    background-color: white;
}

#sec01art03 li{
    margin-left: -30px;
    width: 110%;
    padding-bottom: 10px;
}
#sec01art03 img{
    width: 100%;
    padding-bottom: 10px;
}

.color{
    color: white; 
 }

 #sec02{
    background-color: white;
    margin-left: 270px;
  
 }

 #sec02art01{
margin-top: -605px;
margin-left: 10px;
padding-bottom: 10px;
 }
 
#sec02art02{
    margin-left: 10px;
    background-color: #1aa820;
    text-align: center;
    width: 159px;
    color: white;
    padding-bottom: 20px;
}

.lorem1{
    font-size: 0.9em;
}
.lorem2{
    font-size: 0.9em;
}

.lorem3{
    font-size: 0.9em;
}
.lorem4{
    font-size: 0.9em;
}


#sec02art02 img{
  width: 80px;
    
}

#sec02art03{
    margin-top: -137px;
    margin-left: 190px;
    padding-bottom: 13px;
    background-color: #1b6da9;
    width: 159px;
    text-align: center;
    color: white;
}

#sec02art03 img{
    width: 80px;
      
  }

#sec02art04{
    margin-top: -137px;
    margin-left: 370px;
    padding-bottom: 13px;
    background-color: #7f1aa6;
    width: 159px;
    text-align: center;
    color: white;
}

#sec02art04 img{
  width: 80px;
}

#sec02art05{
    margin-top: -135px;
    margin-left: 550px;
    padding-bottom: 13px;
    background-color: #a81a19;
    width: 159px;
    text-align: center;
    color: white;
}

#sec02art05 img{
   width: 80px;
}

#sec02art06{
    padding-top: 20px;
    margin-left: 10px;
  
}

#sec02art06 img{
    width: 100%;
}

#sec02art07{
    padding-bottom: 10px;
    padding-left: 20px;
}

#sec02art08{
      padding-right: 50px;
    background-color: #496aad;
    margin-left: 10px;
    width: 120px;
}

#sec02art08 img{
    width: 120%;
    margin-left: 14px;
}
#sec02art08 input[type="button"]{
    background-color: #57bfe3;
    color: white;
    border: #57bfe3;
    margin-left: 25px;
    margin-bottom: 10px;
}


.letramediana{
font-size: 1.2em;
}

.color{
    color: white;

}
.centrado{
    margin-right: -10px;
}

#sec02art09{
    padding-right: 50px;
    background-color: #496aad;
    margin-left: 210px;
    width: 110px;
    margin-top: -189px;
}

#sec02art09 img{
    width: 120%;
    margin-left: 10px;
   
}
#sec02art09 input[type="button"]{
    background-color: #57bfe3;
    color: white;
    border: #57bfe3;
    margin-left: 10px;
    margin-bottom: 10px;
   
}

#sec02art10{
    padding-right: 50px;
    background-color: #496aad;
    margin-left: 400px;
    width: 110px;
    margin-top: -186px;
    
}

#sec02art10 img{
    width: 120%;
    margin-left: 10px;
   
}
#sec02art10 input[type="button"]{
    background-color: #57bfe3;
    color: white;
    border: #57bfe3;
    margin-left: 10px;
    margin-bottom: 10px; 
}

#sec02art11{
    padding-right: 50px;
    background-color: #496aad;
    margin-left: 590px;
    width: 110px;
    margin-top: -186px;
}

#sec02art11 img{
  
    width: 120%;
    margin-left: 10px; 
}
#sec02art11 input[type="button"]{
    background-color: #57bfe3;
    color: white;
    border: #57bfe3;
    margin-left: 10px;
    margin-bottom: 10px;   
}



